.movie-card{
    width: 320px;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: .3s all linear;
}

.movie-card:hover{
    transform: translateY(-9px);
    -webkit-box-shadow: 0px 34px 40px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 34px 40px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 34px 40px -11px rgba(0, 0, 0, 0.75);
}
.movie-card > a > img {
    width: 75%;
    margin : 0 auto;
    display: block;
    border-radius: 25px;
}