@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
}